<p id="notice"><%= notice %></p>

<div class="pull-left" style="display:inline; margin-right:50px;">

<p>
  <strong>User:</strong>
  <%= @trip.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Photos:</strong>
</p>

<p>
  <% @trip.photos.each do |photo| %>
  	<p><%= image_tag photo.picture.url(:medium) %></p>
  <% end %>
</p>

<p>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
</p>

</div>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(33.755, -84.390),
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

   $.getJSON("/trips/<%=@trip.id%>/photos", function(data){

   // console.log(data);



        $.each(data, function (index){
        
          marker = new google.maps.Marker({
                position: new google.maps.LatLng(data[index].latitude, data[index].longitude),
                map: map
            });

          var info_window_content = get_infowindow_content(data[index].title);

          var infowindow = new google.maps.InfoWindow({
                content: info_window_content
            });
          

          google.maps.event.addListener(marker, 'click', (function(marker, index) {

                return function() {
                  infowindow.setContent(info_window_content);
                  infowindow.open(map, marker);
                }
              })(marker, index));

        
        });
           
        });

      } // this is the end of our function. WELCOME TO JAVASCRIPT YOU GUYS
      
    function get_infowindow_content(title){
        return "<b>"+title+"</b>";
      }
     

      google.maps.event.addDomListener(window, 'load', initialize);




</script>

 <div id="map-canvas"/>