<style type="text/css">
body {
    background-image: url('http://www.highresolution-wallpapers.com/walls/high_res_sea_shore_in_thailand_and_canoe-wide.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.login-box{
		background:#eeeeee;
		border-radius:5px;
		margin-top: -15px;
		padding: 10px 15px 10px 15px;

}
@media (max-width: 991px) {
	.login-box{
		margin-top: 0px !important;
		padding: 10px 15px 50px 10px !important;
	}
}
</style>
<div class="col-md-5 text-center">
    <h1 style="font-size:72Pt;font-family:verdana;">TREKPIC</h1>
    <h2 style="font-size:17.5Pt;">See the world.  Show your friends.</h2>
</div>
<div class="col-md-4">
</div>
<div class="col-md-3 login-box">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-group"><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

	  <div class="form-group"><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end %>
		  <span class="pull-left"><%= render "devise/shared/links" %></span>
		  <span class="pull-right"><%= f.button "Log in", class: 'btn btn-primary' %></span>
	<% end %>
</div>
<div class="col-md-5" id="boxtext" style="clear: both">
  <div class="transbox">
    <p>Trekpic allows you to effortlessly share your photos on the go.
       Post, share, and comment on photos uploaded by you or your friends.
       Let our geo-coder locate your position and automatically post your pics on our
       one of a kind world map. Welcome to Trekpic! See the world, show your friends!
    </p>
  </div>
</div>
<div class="col-md-5 text-center" style="clear:both; margin-top:50px;">
    <a href="/users/sign_in" class="btn btn-success btn-lg">Start your photo journey, now!</a>
</div>
<div class="btm-quote" style="clear:both;">
	<p>“Not all those who wander are lost.” – J. R. R. Tolkien</p>
</div>