<style type="text/css">
body {
    background-image: url('http://www.highresolution-wallpapers.com/walls/high_res_sea_shore_in_thailand_and_canoe-wide.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #dcc786;
}

.login-box{
	background-color: #ffffff ;
	border: 1px solid white;
    opacity: .8;
    filter: alpha(opacity=.8); /* For IE8 and earlier */
	border-radius:5px;
	margin-top: -15px;
	padding: 10px 15px 10px 15px;

}
@media (max-width: 991px) {
	.login-box{
		margin: 0px 0 20px 0 !important;
		padding: 10px 15px 50px 10px !important;
	}
}
h1   {color:white !important}
h2   {color:white !important}
h3   {color:white !important}
p    {
    margin-right:10px;
    margin-bottom: 10px;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff ;
    border: 1px solid white;
    border-radius: 5px;
    opacity: .8;
    filter: alpha(opacity=.8); /* For IE8 and earlier */
}

div.transbox p {
    margin: 20px 25px;
    font-weight: bold;
    color: #3B0B0B;
    text-align: justify;
}
</style>
<div class="col-md-5 text-center">
    <h1 style="font-size: 6em"><span class="glyphicon glyphicon-send"> </span> TREKPIC</h1>
    <h3>See the world. Show your friends.</h3>
</div>
<div class="col-md-4">
</div>
<div class="col-md-3 login-box">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-group"><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

	  <div class="form-group"><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end %>
		  <span class="pull-left"><%= render "devise/shared/links" %></span>
		  <span class="pull-right"><%= f.button "Log in", class: 'btn btn-primary' %></span>
	<% end %>
</div>
<div class="col-md-5" style="clear: both">
  <div class="transbox">
    <p>Trekpic allows you to effortlessly share your photos on the go.
       Post, share, and comment on photos uploaded by you or your friends.
       Let our geo-coder locate your position and automatically post your pics on our
       one of a kind world map. Welcome to Trekpic! See the world, show your friends!
    </p>
  </div>
</div>
<div class="col-md-5 text-center" style="clear:both; margin:50px 0 50px 0;">
    <a href="/users/sign_up" class="btn btn-primary btn-lg">Start your photo journey, now!</a>
</div>