<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var bounds = new google.maps.LatLngBounds();
        
        $.getJSON("/photos/<%=@photo.id%>/url", function(data){

    // console.log(data);

          marker = new google.maps.Marker({
                position: new google.maps.LatLng(data.latitude, data.longitude),
                map: map
            });

          var info_window_content = get_infowindow_content(data.title, data.picture_url);

          var infowindow = new google.maps.InfoWindow({
                content: info_window_content
            });

          var pos = new google.maps.LatLng(data.latitude, data.longitude);
          bounds.extend(pos);          

          google.maps.event.addListener(marker, 'click', (function(marker) {

                return function() {
                  infowindow.setContent(info_window_content);
                  infowindow.open(map, marker);
                }
              })(marker));
          map.fitBounds(bounds);
        
        });
           

      } // this is the end of our function. WELCOME TO JAVASCRIPT YOU GUYS
      
    function get_infowindow_content(title, picture_url){
        return "<b>"+title+"</b><br /><img src="+picture_url+" />";
      }
     

      google.maps.event.addDomListener(window, 'load', initialize);
      google.maps.event.addDomListener(window, 'page:load', initialize);

</script>
<div id="map-canvas">
</div>
<div class="container" style="position: absolute; top: 67%;">
<div class="pull-left">
  <h2><strong><%= @photo.title %><small> by <%= @photo.user.name %></small></strong></h2>
</div>
<div class="container pull-left">
<p>
  <strong>Trip:</strong>
  <%= @photo.trip.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @photo.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @photo.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @photo.longitude %>
</p>
<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>
<p>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Back', photos_path %>
</p>
</div>
</div>