<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
   <%= @photo.user.name %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @photo.trip.title %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @photo.lat %>
</p>

<p>
  <strong>Longitude:</strong>x
  <%= @photo.lng %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>


<p>
  <%= image_tag @photo.picture.url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
