<style type="text/css">
  body {
    background: #343434; 
  }
</style>
<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var bounds = new google.maps.LatLngBounds();
        
        $.getJSON("/photos/<%=@photo.id%>/url", function(data){

    // console.log(data);

          marker = new google.maps.Marker({
                position: new google.maps.LatLng(data.latitude, data.longitude),
                map: map
            });

          var info_window_content = get_infowindow_content(data.title, data.picture_url);

          var infowindow = new google.maps.InfoWindow({
                content: info_window_content
            });

          var pos = new google.maps.LatLng(data.latitude, data.longitude);
          bounds.extend(pos);          

          google.maps.event.addListener(marker, 'click', (function(marker) {

                return function() {
                  infowindow.setContent(info_window_content);
                  infowindow.open(map, marker);
                }
              })(marker));
          map.fitBounds(bounds);
        
        });
           

      } // this is the end of our function. WELCOME TO JAVASCRIPT YOU GUYS
      
    function get_infowindow_content(title, picture_url){
        return "<b>"+title+"</b><br /><img src="+picture_url+" />";
      }
     

      google.maps.event.addDomListener(window, 'load', initialize);
      google.maps.event.addDomListener(window, 'page:load', initialize);

</script>
<div id="map-canvas">
</div>
<div style="position: absolute; top: 65%; color: #FFF !important;">
  <div class="page-header">
    <h2><strong><%= @photo.title %>
      <small> by <%= @photo.user.name %>
        <% if signed_in? && current_user.id == @photo.user.id %>
            <small><%= link_to 'Edit', edit_photo_path(@photo) %></small>
        <% end %>
      </small>
    </strong></h2>
  </div>
  <div class="container">
    <p>
      <strong></strong>
      <h4><a href="/trips/<%= @photo.trip.id %>"><%= @photo.trip.title %></a></h4>
    </p>
    <p>
      <%= @photo.address %>
    </p>
    <p style="color:#999;">
      <%= @photo.description %>
    </p>
  </div>
</div>